<section class="section-form">
  <div class="row">
      <h2>Add Measurement Data</h2>
  </div>
  <div class="row">
      <form action="/addmeasurements/{{id}}" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <div class="row">
            <div class="col span-1-of-6">
                <label for="name"><strong>Name:</strong></label>
            </div>
            <div class="col span-1-of-6">
                <strong>{{results.[0].name}}</strong>
            </div>
          </div>
          <br>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="date">Date</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="date" name="date" id="date" required>
              </div>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="name">Height</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" max="8" step="1" name="feet" id="feet" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="date">Ft.</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" max="12" step="1" name="inches" id="inches" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="age">in.</label>
              </div>
          </div>
          <br>
          <div class="row">
              <h3>Weight</h3>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="currweight">Current Weight</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step=".1" name="currweight" id="currweight" value="0" required>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
              <h3>Caliper Measurements</h3>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="calchest">Chest</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="calchest" id="calchest" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="calsuprillac">Suprillac</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="calsuprillac" id="calsuprillac" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="calbicep">Bicep</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="calbicep" id="calbicep" value="0" required>
              </div>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="calsubscap">Subscap</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="calsubscap" id="calsubscap" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="calthigh">Thigh</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="calthigh" id="calthigh" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="calcalf">Calf</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="calcalf" id="calcalf" value="0" required>
              </div>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="calabdomen">Abdomen</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="calabdomen" id="calabdomen" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="callowerback">Lower Back</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="callowerback" id="callowerback" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="caltricep">Tricep</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" step="1" name="caltricep" id="caltricep" value="0" required>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
              <h3>Girth Measurements</h3>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="girthshoulders">Shoulders</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthshoulders" id="girthshoulders" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="girthchest">Chest</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthchest" id="girthchest" value="0" required>
              </div>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="girthwaist">Waist</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthwaist" id="girthwaist" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="girthhips">Hips</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthhips" id="girthhips" value="0" required>
              </div>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="girthlbicep">Left Bicep</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthlbicep" id="girthlbicep" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="girthrbicep">Right Bicep</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthrbicep" id="girthrbicep" value="0" required>
              </div>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="girthlthigh">Left Thigh</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthlthigh" id="girthlthigh" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="girthrthigh">Right Thigh</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthrthigh" id="girthrthigh" value="0" required>
              </div>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="girthlcalf">Left Calf</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthlcalf" id="girthlcalf" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="girthrcalf">Right Calf</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="girthrcalf" id="girthrcalf" value="0" required>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
              <h3>Lean Mass</h3>
          </div>
          <div class="row">
              <div class="col span-1-of-6">
                  <label for="bodyfatpct">Body Fat %</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="bodyfatpct" id="bodyfatpct" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="fatlbs">Fat Lbs</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="fatlbs" id="fatlbs" value="0" required>
              </div>
              <div class="col span-1-of-6">
                  <label for="leanmass">Lean Mass</label>
              </div>
              <div class="col span-1-of-6">
                  <input type="number" min="0" name="leanmass" id="leanmass" value="0" required>
              </div>
          </div>
          <br>
          <div class="row">
              <input class="btn btn-full" type="submit" value="Submit">
          </div>
      </form>
  </div>
</section>
