<section class="section-create_acct">
  <form action="/create_acct" method="POST">
    <div class="row">
        <h2>Create Account</h2>
    </div>
    <label for="name"><b>Name</b></label>
    <br>
    <br>
    <input type="text" name="name" id="name" placeholder="Enter name" value="{{name}}" required><br><br>
    <label for="email"><b>Email Address</b></label>
    <br>
    <br>
    <input type="text" name="email" id="email" placeholder="Enter Email address" value="{{email}}" required><br><br>
    <label for="password"><b>Password</b></label>
    <br>
    <br>
    <input type="password" name="password" id="password" placeholder="Enter Password" required><br><br>
    <label for="confirmpwd"><b>Re-type Password</b></label>
    <br>
    <br>
    <input type="password" name="confirmpwd" id="confirmpwd" placeholder="Confirm Password" required><br><br>
    <input class="btn btn-full" type="submit" value="Create Account">
    {{#if errmsg}}
      <br><br>
      <b>{{errmsg}} Please try again.</b>
    {{/if}}
  </form>
</section>
