<section class="section-create_acct">
  <form action="/create_acct" method="POST">
    <div class="row">
        <h2>Create Account</h2>
    </div>
    <b>Name</b>
    <br>
    <br>
    <input type="text" name="name" placeholder="Enter name" value="{{name}}" required><br><br>
    <b>Email Address</b>
    <br>
    <br>
    <input type="text" name="email" placeholder="Email address" value="{{email}}" required><br><br>
    <b>Password</b>
    <br>
    <br>
    <input type="password" name="password" placeholder="Enter Password" required><br><br>
    <b>Re-type Password</b>
    <br>
    <br>
    <input type="password" name="confirmpwd" placeholder="Enter Password" required><br><br>
    <input class="btn btn-full" type="submit" value="Create Account">
    {{#if errmsg}}
      <br><br>
      <b>{{errmsg}} Please try again.</b>
    {{/if}}
  </form>
</section>
