<header>
    <nav>
        <div class="row">
            <img src="resources/img/logo-white.png" alt="Omnifood Logo" class="logo">
            <ul class="main-nav">
                <li><a href="#">Our Services</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>What the mind believes the body can achieve</h1>
        <a class="btn btn-full" href="#">I’m ready</a>
        <a class="btn btn-ghost" href="#">Tell me more</a>
    </div>
</header>
<section class="section-features">
    <div class="row">
        <h2>Our Services</h2>
        <p class="long-copy">
            Hello, we’re Firstlight Fitness, your personal training experts. Firstlight Fitness was created to help you achieve a lifestyle change by focusing on all aspects of fitness and wellness. Let us help you reach your personal goals, we’re experts at it!
        </p>
    </div>
    <div class="row">
        <div class="col span-1-of-4 box">
            <i class="ion-ios-body icon-big"></i>
            <h3>Personal Training</h3>
            <p>
                One on one training in a personal, friendly and positive environment. All of our monthly packages include a custom nutrition plan. We offer weekly bootcamps as well as group training.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-flask icon-big"></i>
            <h3>Hormone Analysis</h3>
            <p>
                Our wellness center specializes in hormone testing for men and women. We offer treatment with the use of both bioidentical "natural" hormones, including BioTe pellet therapy as well as synthetic hormone replacement.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-medkit icon-big"></i>
            <h3>Medical Weight Loss</h3>
            <p>
                Our on-site Nurse practitioner will design a weight loss program based on your health status, medical history, and goals. The use of FDA approved prescription appetite suppressants and/or HCG may be prescribed if appropriate.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-cart icon-big"></i>
            <h3>Nutrition</h3>
            <p>
                Whether you are looking to shed a few pounds or increase tone and muscle strength, Firstlight Fitness can design a custom nutrition plan just for you. All nutrition plans are included in our monthly packages.
            </p>
        </div>
    </div>
</section>
<section class="section-meals">
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="resources/img/1.jpg" alt="Before and After Image 1">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="resources/img/2.jpg" alt="Before and After Image 2">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="resources/img/3.jpg" alt="Before and After Image 3">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="resources/img/4.jpg" alt="Before and After Image 4">
            </figure>
        </li>
    </ul>
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="resources/img/5.jpg" alt="Before and After Image 5">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="resources/img/6.jpg" alt="Before and After Image 6">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="resources/img/7.jpg" alt="Before and After Image 7">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="resources/img/8.jpg" alt="Before and After Image 8">
            </figure>
        </li>
    </ul>
</section>
<section class="section-steps">
    <div class="row">
        <h2>About us</h2>
    </div>
    <div class="row">
        <img src="resources/img/seanheather.jpg" alt="Sean and Heather" class="app-screen">
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <h3><b>Sean Smith, CPT</b></h3>
            <p>
                Sean Smith is a certified personal trainer and life coach who has been in the industry for 16+ years and has an extensive background in weight training, nutrition, weight loss, and contest prep for competitors. He also has experience in sports training and rehabilitation. His sports background includes football, basketball and baseball.  Sean has overcome many obstacles in his life including 2 cardiac surgeries. He hopes to continue to help others overcome obstacles in their life, while motivating them to acheive personal goals. Sean has also been a competitive bodybuilder in the NPC since 2000 and has been helping other competitors with their nutrition, training and posing for the past 8 years.
            </p>
        </div>
        <div class="col span-1-of-2 box">
            <h3><b>Heather Smith, WHNP-BC</b></h3>
            <p>
                Heather Smith is a mother of 7 children who graduated with her Masters of Science in Nursing in 2012 from UT of Houston.  Heather currently practices as a Nurse Practitioner specializing in bio-identical hormones and weight managment. She opened Sparta Wellness in 2015 and offers female and male hormone analysis, bioidentical hormone therapies, bioTE&reg; hormone pellets, nutrient testing, vitamin therapies and non-invasive cellulite removal with the use of i-lipo. Heather began training & competing in 2011 to get her body back into shape after having 5 children including triplets. She then gave birth to twins in November 2015! She strives to motivate other women to achieve and maintain healthy lifestyles. Heather is a Certified Personal Trainer, Posing Coach and National level fitness competitor.
            </p>
        </div>
    </div>
</section>
<section class="section-cities">
    <div class="row">
        <h2>We're currently in these cities</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-4 box">
            <img src="resources/img/houston.jpg" alt="Houston">
            <h3>Houston</h3>
            <div class="city-feature">
                <i class="ion-ios-person icon-small"></i> Fitness and Wellness
            </div>
            <div class="city-feature">
                <i class="ion-ios-star icon-small"></i> 12+ top trainers
            </div>
            <div class="city-feature">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">@firstlight_hou</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="resources/img/dallas.jpg" alt="Dallas">
            <h3>Dallas</h3>
            <div class="city-feature">
                <i class="ion-ios-person icon-small"></i> Fitness and Wellness
            </div>
            <div class="city-feature">
                <i class="ion-ios-star icon-small"></i> 10+ top trainers
            </div>
            <div class="city-feature">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">@firstlight_dal</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="resources/img/austin.jpg" alt="Austin">
            <h3>Austin</h3>
            <div class="city-feature">
                <i class="ion-ios-person icon-small"></i> Fitness Center
            </div>
            <div class="city-feature">
                <i class="ion-ios-star icon-small"></i> 8+ top trainers
            </div>
            <div class="city-feature">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">@firstlight_aus</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="resources/img/san-antonio.jpg" alt="San Antonio">
            <h3>San Antonio</h3>
            <div class="city-feature">
                <i class="ion-ios-person icon-small"></i> Fitness and Wellness
            </div>
            <div class="city-feature">
                <i class="ion-ios-star icon-small"></i> 5+ top trainers
            </div>
            <div class="city-feature">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">@firstlight_san</a>
            </div>
        </div>
    </div>
</section>
<section class="section-testimonials">
    <div class="row">
        <h2>Customer testimonials</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                I have never been one to go to the gym regularly and I knew next to nothing about how to work out properly but with the reassuring guidance from Sean and Heather who are experts at what they do I’ve added lean muscle, lost body fat, and I look and feel great!
                <cite><img src="resources/img/customer-1.jpg">Alberto Duncan</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                I love Firstlight Fitness! Heather has an amazing story as a mother of 7 children! She gave me hope and has inspired me to work hard for the amazing body I now have. And my husband loves it too! I highly recommend you see Heather and Sean at Firstlight Fitness.
                <cite><img src="resources/img/customer-2.jpg">Joana Silva</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                This is not your typical gym. Sean and Heather both listened to my story and what my goals were. The hormone replacement therapy gave me renewed vitality and made me feel healthy and alive again. You won't go wrong with Firstlight Fitness!
                <cite><img src="resources/img/customer-3.jpg">Milton Chapman</cite>
            </blockquote>
        </div>
    </div>
</section>
<section class="section-plans">
    <div class="row">
        <h2>Your fitness journey starts here.</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Premium</h3>
                    <p class="plan-price">$199 <span>/ month</span></p>
                </div>
                <div>
                    <ul>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>3 Personal Training Sessions</li>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>1 Hormone Replacement/Year</li>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>24/7 + Weekend Access</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-full">Sign up now</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Classic</h3>
                    <p class="plan-price">$99 <span>/ month</span></p>
                </div>
                <div>
                    <ul>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>2 Personal Training Sessions</li>
                        <li><i class="ion-ios-close-empty icon-small"></i></li>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>24/7 + Weekend Access</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-ghost">Sign up now</a>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Starter</h3>
                    <p class="plan-price">$49 <span>/ month</span></p>
                </div>
                <div>
                    <ul>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>1 Personal Training Session</li>
                        <li><i class="ion-ios-close-empty icon-small"></i></li>
                        <li><i class="ion-ios-checkmark-empty icon-small"></i>6 am to 8 pm Weekday Access</li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn btn-ghost">Sign up now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-form">
    <div class="row">
        <h2>We're happy to hear from you</h2>
    </div>
    <div class="row">
        <form method="post" action="#" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="find-us">How did you find us?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find-us" id="find-us">
                        <option value="friends" selected>Friends</option>
                        <option value="search">Search engine</option>
                        <option value="ad">Advertisement</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="news">Newsletter?</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" name="news" id="news" checked>Yes, please
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Drop us a line</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" placeholder="Your message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input class="btn btn-full" type="submit" value="Send it!">
                </div>
            </div>
        </form>
    </div>
</section>
<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">iOS App</a></li>
                <li><a href="#">Android App</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-links">
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Copyright &copy; 2017 by Firstlight Fitness. All Rights Reserved.
        </p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
