<section class="section-form">
  <form action="/addmeasurements" method="GET">
    <div class="row">
        <h2>Measurement History</h2>
    </div>
    <input type="hidden" name="id" value={{results.[0].trainee_id}}>
    <div class="row">
      <div class="col span-1-of-6">
          <label for="name">Name</label>
      </div>
      <div class="col span-1-of-6">
          {{results.[0].name}}
      </div>
    </div>
    <br>
    <br>
    {{#each results}}
        <li><a href="/chgmeasurements/{{id}}">{{measure_date}}</a></li><br>
    {{/each}}
    <br>
    <br>
    <div class="row">
        <input class="btn btn-full" type="submit" value="Add Measurements">
    </div>
    <br>
  </form>
</section>
