<section class="section-form">
  <form action="/addmeasurements" method="GET">
    <div class="row">
        <h2>Measurement History</h2>
    </div>
    <input type="hidden" name="id" value={{results.[0].id}}>
    <p>Name: {{results.[0].name}}</p>
    <button type="submit">Add Measurements</button>
    <br>
  </form>
</section>
