<section class="section-login">
  <div class="row">
      <h2>Sign in</h2>
  </div>
  <form action="/login" method="POST">
    <label for="username"><b>Username</b></label>
    <br>
    <br>
    <input type="text" name="username" id="username" placeholder="Email address" value="{{uname}}"><br><br>
    <label for="password"><b>Password</b></label>
    <br>
    <br>
    <input type="password" name="password" id="password" placeholder="Enter Password"><br><br>
    <div class="row">
      <input class="btn btn-login" type="submit" value="Log in">
      <input class="btn btn-login" type="submit" formaction="/create_acct" value="Create Account">
    </div>
    <br>
    <br>
  </form>
  {{#if errmsg}}
    <br>
    <b>{{errmsg}} Please try again.</b>
  {{/if}}
</section>
