<section class="section-login">
  <div class="row">
      <h2>Sign in</h2>
  </div>
  <form action="/login" method="POST">
    <label for="username"><b>Username</b></label>
    <br>
    <br>
    <input type="text" name="username" id="username" placeholder="Email address" value="{{uname}}" required><br><br>
    <label for="password"><b>Password</b></label>
    <br>
    <br>
    <input type="password" name="password" id="password" placeholder="Enter Password" required><br><br>
    <input class="btn btn-login" type="submit" value="Log in">
    <br>
    <br>
  </form>
  <form action="/create_acct" method="GET">
    <input class="btn btn-full" type="submit" value="Create Account">
  </form>
  {{#if errmsg}}
    <br>
    <b>{{errmsg}} Please try again.</b>
  {{/if}}
</section>
